@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button {
    @apply py-2 px-6 rounded-lg text-sm md:text-base;
  }

  h1 {
    @apply font-black text-base text-4xl md:text-5xl; 
  }

  h2 {
    @apply font-bold text-lg md:text-xl; 
  }

  .subtitle {
    @apply flex-box gap-6 items-center justify-center md:justify-start w-full text-lg font-medium text-gray-700;
  }

  label {
    @apply text-sm font-medium;
  }

  .main-cta {
    @apply border border-fuchsia-500 bg-fuchsia-100 text-fuchsia-500 rounded-lg font-medium hover:scale-105 active:scale-95 transition px-12 py-3;
  }

  .button-primary {
    @apply bg-[#e07a5f] rounded-lg text-sm text-white font-medium active:scale-95 transition px-12 py-3;
  }

  .button-secondary {
    @apply border border-[#30313D] text-[#30313D] rounded-md font-medium hover:bg-[#30313D] hover:text-white transition py-1;
  }

  .button-tertiary {
    @apply border border-[#30313D] text-[#30313D] font-medium hover:bg-[#30313D] hover:text-white transition;
  }

  .button-delete {
    @apply border border-[#ef233c] text-[#ef233c] rounded-xl font-medium hover:bg-[#ef233c] hover:text-white transition;
  }

  .button-appHeader {
    @apply text-xs text-sm font-medium px-3 md:px-6 py-2 md:py-3 rounded-full flex-box gap-3;
  }
  
  .link {
    @apply text-[#30313D] font-medium cursor-pointer no-underline;
  }

  .error {
    @apply text-red-400 text-sm font-light; 
  }

  .testimonial {
    @apply flex-col border border-gray-200 rounded-lg shadow-[rgba(50,_50,_105,_0.15)_0px_2px_5px_0px,_rgba(0,_0,_0,_0.05)_0px_1px_1px_0px] p-6 space-y-6 text-left w-full;
  }

  .profile {
    @apply flex-box w-10 aspect-square bg-[#30313D] text-white font-semibold bg-cover bg-center rounded-full; 
  }

  .flex-box {
    @apply flex items-center justify-center;
  }

  .transition {
    @apply ease-in-out duration-200;
  }

  .form-section {
    @apply w-full space-y-1;
  }
  
  .tag {
    @apply bg-white border border-[#dee1e7] rounded px-3 py-1 w-max text-sm text-center font-semibold;
  }

  .tag-lg {
    @apply border border-[#dee1e7] px-6 py-2 rounded-md font-medium transition; 
  }

  .bg-image {
    @apply bg-cover bg-center bg-[#30313D];
  }

  .no-ring {
    @apply focus-visible:ring-0 focus-visible:ring-offset-0;
  }
}

