@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button {
    @apply py-2 px-6 rounded-lg text-sm md:text-base;
  }

  h2 {
    @apply font-bold text-base md:text-xl; 
  }

  label {
    @apply text-sm font-medium;
  }

  .button-primary {
    @apply bg-[#4040e6] border border-[#4040e6] text-white font-medium active:scale-95 transition;
  }

  .button-secondary {
    @apply border border-[#30313D] text-[#30313D] font-medium hover:bg-[#30313D] hover:text-white transition;
  }

  .button-tertiary {
    @apply border border-[#4040e6] text-[#4040e6] font-medium;
  }

  .link {
    @apply text-[#4040e6] font-medium cursor-pointer no-underline;
  }

  .error {
    @apply text-red-400 text-sm font-light; 
  }

  .profile {
    @apply flex-box w-10 aspect-square bg-[#30313D] text-white font-semibold bg-cover bg-center rounded-full; 
  }

  .flex-box {
    @apply flex items-center justify-center;
  }

  .transition {
    @apply ease-in-out duration-200;
  }

  .form-section {
    @apply w-full space-y-1;
  }

  .tag {
    @apply bg-white rounded px-3 py-1 w-max text-sm font-semibold;
  }

  .bg-image {
    @apply bg-cover bg-center bg-[#30313D];
  }

  .no-ring {
    @apply focus-visible:ring-0 focus-visible:ring-offset-0;
  }
}

